@charset "UTF-8"; 
body
{
    padding:0px;
    margin: 0px;
    font-family:verdana, sans-serif;
    background-color:white;
    color:black;
}

.container
{
    margin: 0 auto;
    max-width: 1200px;
    width: 90%;
}

div
{
    margin-top: 10px;
}

img
{
    border: 1px solid black;
}

